<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  <style>
    body{
      font-size: .9em;
      text-align: justify;
      font-family: 'Segoe UI';
      margin: 0; padding: 10px;
    }
    a{
      text-decoration: none;
    }
    a:hover{
      text-decoration: underline;
    }
    .brand{
      font-size: 2em;
    }
    .brand:hover{
      color: red;
      text-decoration: none;
    }
  </style>
</head>
<body>
  <nav>
    <a href="{% url 'home-page' %}" class="brand">Home</a>
  </nav>
  <hr>
  {% block content %}{% endblock %}
</body>
</html>